<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初始化模板</title>
    <link rel="stylesheet" href="../../common/CSS/reset.css">
    <link rel="stylesheet" href="../../common/CSS/element.min.css">
    <link rel="stylesheet" href="../../dist/css/index.min.css">
</head>
<body>
    <div class="index">
        <div>{{text}}</div>
        <el-button>默认按钮</el-button>
        <div><img src="../../assetes/images/index/gugong.png"></div>
    </div>
</body>
<script src="../../common/JS/vue.min.js"></script>
<script src="../../common/JS/element.min.js"></script>
<script src="../../dist/js/index.min.js"></script>
</html>